.pageheader {
    padding-top: 35px;
    padding-bottom: 15px;
    @include clearfix;

    .pageheader--left,
    .pageheader--middle,
    .pageheader--right {
        display: block;
        margin-bottom: 20px;
    }

    @include media-breakpoint-up(sm) {

        .pageheader--left {
            float: left;
        }

        .pageheader--right {
            float: right;
        }

        .pageheader--middle {
            clear: both;
        }
    }

    @include media-breakpoint-up(xl) {

        .pageheader--middle {
            clear: none;
            margin-left: 205px;
            margin-right: 280px;
        }
    }

    @include media-breakpoint-up(xxl) {

        .pageheader--middle {
            clear: none;
            margin-left: 225px;
            margin-right: 300px;
        }
    }

}

